[package]
name = "pre-rfc3243-libtw2-uniffi-huffman"
version = "0.2.0"
authors = ["heinrich5991 <heinrich5991@gmail.com>"]
license = "MIT/Apache-2.0"
edition = "2021"

[lib]
name = "libtw2_huffman"
crate-type = ["cdylib"]

[dependencies]
pre-rfc3243-libtw2-huffman = { path = "../../huffman" }
uniffi = "0.27"

[build-dependencies]
uniffi = { version = "0.27", features = ["build"] }
